
/* ============================================= */
/*              Variables                        */
/* ============================================= */

// Colors
$white: #fff;

$color-primary: #58e1c1; //teal
$color-primary-light: lighten($color-primary, 10%);

$color-cta: #51ddfc; // blue, also default button color

$color-success: #63cc82; // green
$color-error: #e4757a; // red
$color-warning: #fd7856; // orange
$color-info: #927bc1; // purple

$color-text: #777; // gray

$color-outline: #ccc; // light gray

// Fonts
$font-stack-primary: 'Lato', sans-serif;

// Breakpoints
$break-xs: 575px;
$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;